@charset "utf-8";
/*样式*/
.second{ width:320px; height:315px; margin:auto; position:relative; background-color:#fff;}
.sdGrzx{ width:262px; height:auto; float:left; margin:28px 0px 0px 28px; padding-bottom:25px; position:relative; overflow:hidden; display:inline;}
.sdGrzxBox1{ width:262px; height:18px; float:left; position:relative; overflow:hidden;}
.sdGrzxBox2{ width:262px; height:auto; float:left; position:relative; overflow:hidden;}
.sdGrzxBox2Img{ float:left; position:absolute; top:0px; left:0px;}
.sdGrzxBox2Nr{ width:262px; height:auto; font:1.5rem "宋体"; color:#333; line-height:26px; text-align:center; float:left; position:relative; z-index:2; background:none; overflow:hidden;}
.sdGrzxBox2NrFont{ font:1.5rem "宋体"; color:#F30;}
.sdGrzxBox2NrImg{ width:192px; height:80px; position:relative; z-index:2; float:left; margin:15px 0px 0px 35px; display:block;}